@font-face {
	font-family: FontName;
	src: url('web-dev-playground/assets/fonts/fira-mono-v12-latin-700.woff2') format('woff2'), 
	  url('web-dev-playground/assets/fonts/fira-mono-v12-latin-700.woff') format('woff');
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
}

.hero {
	background-image: url('/assets/images/hero-banner.jpg');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero h1 {
	color: #fff;
	font-size: 64px;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 12px;
}

.hero p {
	color: #ececec;
	font-size: 36px;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}